#top {
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-color: #B7C4CF;
    background-blend-mode: multiply;
}
#myInfo {
    width: 1200px;
    height: 700px;
    padding-top: 200px;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#myInfo #computer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F2F2F;
    border: #03001C solid 14px;
    border-radius: 14px;
}
#myInfo #computer #introduce {
    text-align: left;
}
#myInfo #computer #typingEffect {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    border-top: 2px solid #E6E6DB;
    color: #CFD8DC;
}
.grey {
    color: #5D7B83;
}
.orange {
    color: #CC6C24;
}
.blue {
    color: #1D90C3;
}
.white {
    color: #E6E6DB;
}
.green {
    color: #81EC21;
}
.green2 {
    color: #1F8C35;
}
.green3 {
    color: #17C6A3;
}
.yellow {
    color: #F3EC79;
}