.project {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.project .content{
    width: 1200px;
    height: 500px;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}

.project .content tr:nth-child(2){
    display: flex;
    align-items: center;
}

.project .content .title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24pt;
    font-weight: 600;
}

.project .content .slide{
    width: 600px;
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.project .content .slide .carousel-control-next,
.project .content .slide .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.project .content .slide .carousel-inner{
    width: 100%;
    height: 100%;
}

.project .content .slide .carousel-inner .carousel-item{
    width: 100%;
    height: 100%;
}

.project .content .slide .d-block{
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;
}
.project .content .description{
    margin-left: auto;
    margin-right: auto;
}
.project .content .description .subtitle{
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: 600;
    white-space: pre-wrap;
}
.project .content .description .detail{
    width: 80%;
    min-height: 200px;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-weight: 500;
    white-space: pre-wrap;
}

.project .content .description .url{
    margin-top: 10px;
    font-size: 14pt;
}